* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
}

.center {    
    width: 1080px;
    align-content: center;
    margin: 0 auto;  
}

.header {
    height: 42px;
    background-color: #4267b2;  
    height: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    

}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    border: none;
    padding: 10px 28px;
    width: 393px;
    border-radius: 2%;
}

.search {
    margin: 7px;
}


.nav-right > * {
    padding: 0 8px;
}

.user-name {
    color: black;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
    padding-bottom: 5px;

}

.user-name-bcolor {
    margin: 10px 0px 0px 10px;
}

.user-name-bcolor span {
    font-size: 13px;
    color: black;
}

.user-name-wcolor span {
    font-size: 13px;
    color: white;
}

.status-update-info {
    left: 10%;
    display: flex;
}

.user-action {
    margin: 10px 0px 0px 12px;
}

.user-name-pic img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
}

.user-name-pic-sidebar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
   
}

.user-name-pic-feed {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 7px;
    margin-left: 5px;
}

.body {
    background-color: #f5f5f5;
    padding: 12px;
}

.content {
    display: flex;
}

.sidebar {
    flex: 0 0 18%;
    font-size: 13px;
    color: rgb(29,33,41)
}

.sidebar-pic {
    display: flex;
    justify-content: flex-start;
}

.sidebar li {
    list-style-type: none;
    margin-top: 18px;
}


.main-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.post-update {
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
    width: 40%;
    border-radius: 5px;
    min-width: 500px;
    background-color: white;
}

.post-update li {
    list-style-type: none;
    display: inline;
    
}

.post-options {
    margin: 15px 0px 15px 0px;
    padding: 15px 0px 15px 0px;
}

.post-img {
    width: 500px
}

.stories {
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
    width: 30%;
    background-color: white;
    border-radius: 5px;
    height: 26%;
    margin-left: 20px
}

.stories h3 {
    margin-top: 10px;
    margin-left: 7px;
}

.status-input-form {
    padding: 10px 0px 10px 0px;
    margin-left: 20px;
}

.status-input {
    border: none;
    padding: 10px 28px;
    width: 300px;
    border-radius: 2%;
    height: 50px;
}

.status-options {
    display: flex;
    justify-content: flex-start;
}

.status-options img {
    margin: 17px 0px 0px 5px;
}

.story {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-info {
    margin-left: 10px;
}

.story span {
    font-size: 15px;
    color: rgb(54, 88, 153);
    display: block;
    margin: 0 auto;
}

.story-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding-right: 2px;
    margin-top: 2px;
}

.user-name-post {
    font-size: 14px;
    color: #4267b2;
}


.shared {
    font-size: 14px;
}

.a-post {
    font-size: 14px;
    color: #4267b2;
}

@media only screen and (max-width: 1095px) {
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .main-content {
        flex-direction: column;
        justify-content: flex-start;    
    }

    .content-wrap {
        display: flex;
        justify-content: flex-end;
    }

    .stories {
        order: -1;
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 780px) { 
    .sidebar {
        display: none;
    }
}